* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#searchBox {
  background: linear-gradient(60deg, #00001a, #000367);
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes entranceTitle {
    from {opacity: 0; transform: translateX(-50px);}
    to {opacity: 1; transform: translateX(0);}
  }
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes entranceButton {
    from {opacity: 0; transform: translateX(-100px);}
    to {opacity: 1; transform: translateX(0);}
  }
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes entranceSearch {
    from {opacity: 0;}
    to {opacity: 1;}
  }
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes entranceRight {
    from {opacity: 0; transform: translateX(50px);}
    to {opacity: 1; transform: translateX(0);}
  }
}
